.logo{
    text-align: center;

   
    
}

#photo-radii{
    display: block;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
   

}

h1{
    text-align: center;
    margin-top: 10px;   
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: larger;
    text-align: center;
    margin: 10px 60px 30px 60px;
}

.favorite{
    color: black;
    text-align: center;
    font-size: larger;
  
}
/* 
.favorite h1{
    color: honeydew;
} */

.favorite p{
    font-size: medium;
    font-style: italic;
}