.logo{
    text-align: center;

   
    
}

.backg{
    background-image: url(images/imgcover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#photo-radii{
    display: block;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
   

}

.about-cover{
    background-color: black;
    opacity: 0.8;
}

.about{
   
    color: white;
    margin: 30px 80px 50px 80px;
    text-align: center;
   
}

h1{
    text-align: center;
    margin-top: 10px;   
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: larger;
    text-align: center;
    margin: 10px 60px 30px 60px;
}

.favorite{
    color: black;
    text-align: center;
    font-size: larger;
  
}

.favorite h2{
    color: honeydew;
    margin-top: 40px;
    margin-bottom: 10px;
}

.favorite p{
    font-size: medium;
    font-style: italic;
    color: honeydew;
}

hr{
    width: 30%;
    margin: auto;
}

ul{
    list-style-type: none;
    /* overflow: auto; */
   
}

.boxed{
    border: 3px solid grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
   
}

.boxed h1{
    color: honeydew;
}

.article{
    display: flex;
    margin: 5px 10px 5px 10px;
   
 }

 .spacing{
    padding-left: 50px;
}

.spacing p{
    margin: 20px;
    color: whitesmoke;
    font-size: medium;
   
}

a:link{
    color: white;

}

a:hover{
    color: purple;
}


a:visited{
    color: green;
}

.foot{
    background-color: black;
    color: honeydew;
    margin: 10px 350px 10px 350px;
    border-radius: 5px;
}